:root {
    --main-color: white;
    --secondary-color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Monda', sans-serif;} 

nav {
    position: fixed;
    top: 0px;
    height: 7.3rem;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 2;
}

#logo {
    float: left;
    width: auto;
    height: 7.3rem;
    background-color: var(--secondary-color);
    padding: 0;
}

#nav-bar-links-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 66.66%;
    height: 7.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-link {
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    width: 11rem;
    padding: 2.3rem 0;
    color: var(--main-color);
}

a:link, a:visited {
    color: var(--main-color);
    text-decoration: none;
}

a:hover, a:active {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#nav-space {
    height: 7.3rem;
}

.main-title-display {
    position: relative;
    height: 37rem;
    text-align: center;
    width: 100%;   
    color: var(--main-color);
    background-color: var(--secondary-color);
}

#main-title {
    position: absolute;
    top: 3.67rem;
    left: 8%;
    font-size: 5.2rem;
    border: .25rem solid var(--main-color);
    padding: 1rem;
}

#subtitle {
    position: absolute;
    top: 22rem;
    left: 58.33%;
    font-size: 2rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
}

.white-squares {
    position: absolute;
    z-index: 1;
}

#left-squares {
    top: 25.7rem;
    left: 25%;
    width: 20rem;
}

#left-squares:hover ~ #main-title {
    color: black;
    background-color: white;
}

#left-squares:hover ~ #subtitle {
    color: black;
    background-color: white;
}

#right-squares {
    top: 11rem;
    left: 58.33%;
    width: 7rem;
}

#right-squares:hover {
    background-color: black;
}

#right-squares:hover ~ #main-title {
    color: black;
    background-color: white;
}
#right-squares:hover ~ #subtitle {
    color: black;
    background-color: white;
}
#right-squares:hover ~ #left-squares {
    background-color: black;
}

#main-image {
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42rem;
    object-fit: cover;
    z-index: 0;
}

#about-me-container {
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: space-around;
}

.description-image {
    width: 58.33%;
    object-fit: contain;
    background-color: var(--secondary-color);
}

.description-container {
    width: 41.67%;
    text-align: center;
    padding: 0 1rem;
}

.description-header {
    font-size: 3rem;
    padding: 1rem 0 .5rem 0;
}

.description {
    font-size: 1.5rem;
}

#footer-images-container {
    display: flex;
    width: 100%;
    height: 11rem;
    background-color: var(--secondary-color);
    padding-top: 2rem;

}

.footer-image {
    width: 25%;
    object-fit: cover;
}

footer {
    width: 100%;
    height: 18rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    text-align: center;
}